/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * $CONTENTS............Table of contents
 * $COMMENTS............Comment formatting

 * $BASE................Generic utility styles, variables and mixins, unclassed HTML elements etc.
 *  RESET...............Please put a description of the contents of the partial here
 *  FORMS...............Please put a description of the contents of the partial here
 *  HEADINGS............Please put a description of the contents of the partial here
 *  HELPER..............Please put a description of the contents of the partial here
 *  TYPE................Please put a description of the contents of the partial here

 * $LAYOUT..............Structural elements/areas, grids, columns
 *  GRIDS...............Please put a description of the contents of the partial here
 *  LAYOUT..............Please put a description of the contents of the partial here

 * $COMPONENTS..........Objects and abstractions etc.
 *  MEDIA...............Please put a description of the contents of the partial here 
 *  ICON................Please put a description of the contents of the partial here 
 *  PODS................Please put a description of the contents of the partial here 
 *  PAGINATION..........Please put a description of the contents of the partial here
 *  BREADCRUMB..........Please put a description of the contents of the partial here
 *  SITE SEARCH.........Please put a description of the contents of the partial here  

 * $PAGES...............Template-specific/temporary fixes/short-expiry pages etc.
 *  T01.................Please put a description of the contents of the partial here
 *  TEMP FIXES..........Please put a description of the contents of the partial here 

 * $SPRITES.............Sprite styles
 *  SPRITES.............Please put a description of the contents of the partial here 
 *

 * $PRINT...............Print styles
 *  PRINT...............Please put a description of the contents of the partial here 
 */
/*------------------------------------*\
    $COMMENTS
\*------------------------------------*/
/*------------------------------------*\
    $SECTION HEADING
\*------------------------------------*/
/* ----- single line subheading ----- */
/**
 * multi-line comments
 * comments use
 * DocBlock formatting
 */
/* short comment */
/*ul*/
/*------------------------------------*\
    $BASE
\*------------------------------------*/
/* line 1, ../sass/base/reset.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 1, ../sass/base/type.scss */
html {
  font-size: 62.5%;
}

/* line 5, ../sass/base/type.scss */
body {
  font-family: 'Open Sans', sans-serif;
  color: #666;
  font-size: 1.2rem;
}

/* line 11, ../sass/base/type.scss */
a {
  color: #777;
}

/* line 15, ../sass/base/type.scss */
h1, .h1 {
  font-size: 4.8rem;
  margin-top: 0;
}

/* line 20, ../sass/base/type.scss */
h2, .h2 {
  font-size: 3.4rem;
  margin-top: 0;
  line-height: 1.3;
}

/* line 26, ../sass/base/type.scss */
h3, .h3 {
  font-size: 3.6em;
  margin-top: 0;
}

/* line 31, ../sass/base/type.scss */
h4, .h4 {
  font-size: 2.8em;
  margin-top: 0;
}

/* line 36, ../sass/base/type.scss */
h5, .h5 {
  font-size: 2.4em;
  margin-top: 0;
}

/* line 41, ../sass/base/type.scss */
h6, .h6 {
  font-size: 1.8em;
  margin-top: 0;
}

/* line 46, ../sass/base/type.scss */
p {
  font-size: 1.6em;
  margin: 0;
  padding: 0;
}
/* line 51, ../sass/base/type.scss */
p + p {
  margin-top: 1em;
}

/* line 6, ../sass/base/helpers.scss */
.no-bullet {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 680px) {
  /* line 12, ../sass/base/helpers.scss */
  .mobile-only {
    display: none;
  }
}

/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/**
 * structural elements/areas, grids, columns etc.
 */
/* line 1, ../sass/layout/layout.scss */
body {
  background: #fff;
}

/* line 6, ../sass/layout/layout.scss */
.header {
  position: relative;
  width: 100%;
  display: block;
  background: #fff;
  height: 95px;
  box-sizing: border-box;
  border-bottom: 1px solid #e8e8e8;
  z-index: 2;
}

/* line 17, ../sass/layout/layout.scss */
.menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
}
/* line 25, ../sass/layout/layout.scss */
.menu > ul {
  height: 100%;
  font-size: 0;
}
/* line 30, ../sass/layout/layout.scss */
.menu li {
  display: inline-block;
  height: 100%;
}
/* line 34, ../sass/layout/layout.scss */
.menu li a {
  display: block;
  padding: 0 15px;
  text-decoration: none;
  font-weight: 300;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  line-height: 95px;
}
/* line 44, ../sass/layout/layout.scss */
.menu li a:hover, .menu li a.active {
  background: #07AD91;
  color: #fff;
}

/* line 56, ../sass/layout/layout.scss */
.logo a {
  position: relative;
  display: inline-block;
  text-indent: -9999px;
  width: 80px;
  height: 80px;
  background: url(/images/logo.png) no-repeat center center;
  background-size: 100% auto;
  padding-top: 10px;
}

/* line 68, ../sass/layout/layout.scss */
.width_bound {
  position: relative;
  width: 80%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/*------------------------------------*\
    $COMPONENTS
\*------------------------------------*/
/**
 * objects and abstractions etc.
 */
/*------------------------------------*\
    $PAGES
\*------------------------------------*/
/**
 * template-specific/temporary pages etc.
 */
/* line 1, ../sass/pages/home.scss */
.welcome {
  display: block;
  width: 100%;
  height: 250px;
  background: url(/images/gplaypattern.png);
}
/* line 7, ../sass/pages/home.scss */
.welcome h1 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  line-height: 0.9;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0px 1px #FFFFFF;
}

/* line 20, ../sass/pages/home.scss */
.home_copy h2 {
  padding-top: 4rem;
}

/*------------------------------------*\
    $SPRITE
\*------------------------------------*/
/**
 * sprite url declarion and image name classes with coordinates
 */
/*------------------------------------*\
    $PRINT
\*------------------------------------*/
/**
 * print style
 */
