/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * $CONTENTS............Table of contents
 * $COMMENTS............Comment formatting

 * $BASE................Generic utility styles, variables and mixins, unclassed HTML elements etc.
 *  RESET...............Please put a description of the contents of the partial here
 *  FORMS...............Please put a description of the contents of the partial here
 *  HEADINGS............Please put a description of the contents of the partial here
 *  HELPER..............Please put a description of the contents of the partial here
 *  TYPE................Please put a description of the contents of the partial here

 * $LAYOUT..............Structural elements/areas, grids, columns
 *  GRIDS...............Please put a description of the contents of the partial here
 *  LAYOUT..............Please put a description of the contents of the partial here

 * $COMPONENTS..........Objects and abstractions etc.
 *  MEDIA...............Please put a description of the contents of the partial here 
 *  ICON................Please put a description of the contents of the partial here 
 *  PODS................Please put a description of the contents of the partial here 
 *  PAGINATION..........Please put a description of the contents of the partial here
 *  BREADCRUMB..........Please put a description of the contents of the partial here
 *  SITE SEARCH.........Please put a description of the contents of the partial here  

 * $PAGES...............Template-specific/temporary fixes/short-expiry pages etc.
 *  T01.................Please put a description of the contents of the partial here
 *  TEMP FIXES..........Please put a description of the contents of the partial here 

 * $SPRITES.............Sprite styles
 *  SPRITES.............Please put a description of the contents of the partial here 
 *

 * $PRINT...............Print styles
 *  PRINT...............Please put a description of the contents of the partial here 
 */
/*------------------------------------*\
    $COMMENTS
\*------------------------------------*/
/*------------------------------------*\
    $SECTION HEADING
\*------------------------------------*/
/* ----- single line subheading ----- */
/**
 * multi-line comments
 * comments use
 * DocBlock formatting
 */
/* short comment */
/*ul*/
/*------------------------------------*\
    $BASE
\*------------------------------------*/
/* line 1, ../sass/base/reset.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 2, ../sass/base/type.scss */
h1, .h1 {
  font-size: 4.8em;
  margin-top: 0;
}

/* line 7, ../sass/base/type.scss */
h2, .h2 {
  font-size: 4em;
  margin-top: 0;
}

/* line 12, ../sass/base/type.scss */
h3, .h3 {
  font-size: 3.6em;
  margin-top: 0;
}

/* line 17, ../sass/base/type.scss */
h4, .h4 {
  font-size: 2.8em;
  margin-top: 0;
}

/* line 22, ../sass/base/type.scss */
h5, .h5 {
  font-size: 2.4em;
  margin-top: 0;
}

/* line 27, ../sass/base/type.scss */
h6, .h6 {
  font-size: 1.8em;
  margin-top: 0;
}

/* line 32, ../sass/base/type.scss */
p {
  font-size: 1.6em;
  margin: 0;
  padding: 0;
}
/* line 37, ../sass/base/type.scss */
p + p {
  margin-top: 1em;
}

/* line 6, ../sass/base/helpers.scss */
.no-bullet {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 680px) {
  /* line 12, ../sass/base/helpers.scss */
  .mobile-only {
    display: none;
  }
}

/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/**
 * structural elements/areas, grids, columns etc.
 */
/* line 1, ../sass/layout/layout.scss */
body {
  background: #ffd000;
}

/* line 5, ../sass/layout/layout.scss */
.header {
  position: relative;
  width: 100%;
  display: block;
  background: #fff;
  height: 180px;
  box-sizing: border-box;
  z-index: 2;
}

/* line 15, ../sass/layout/layout.scss */
.menu {
  float: right;
}
/* line 18, ../sass/layout/layout.scss */
.menu li {
  display: inline-block;
}

/* line 23, ../sass/layout/layout.scss */
.main {
  padding-left: 20%;
}

/*------------------------------------*\
    $COMPONENTS
\*------------------------------------*/
/**
 * objects and abstractions etc.
 */
/*------------------------------------*\
    $PAGES
\*------------------------------------*/
/**
 * template-specific/temporary pages etc.
 */
/*------------------------------------*\
    $SPRITE
\*------------------------------------*/
/**
 * sprite url declarion and image name classes with coordinates
 */
/*------------------------------------*\
    $PRINT
\*------------------------------------*/
/**
 * print style
 */
