body {
    background: #ffd000;
}

.header {
    position: relative;
    width: 100%;
    display: block;
    background: #fff;
    height: 180px;
    box-sizing: border-box;
    z-index: 2;
}

.menu {
    float: right;

    li {
        display: inline-block;
    }
}

.main {
    padding-left: 20%;
}