html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #666;
    font-size: 1.2rem;
}

a {
    color: #777;
}

h1, .h1 {
    font-size: 4.8rem;
    margin-top: 0;
}

h2, .h2 {
    font-size: 3.4rem;
    margin-top: 0;
    line-height: 1.3;
}

h3, .h3 {
    font-size: 3.6em;
    margin-top: 0;
}

h4, .h4 {
    font-size: 2.8em;
    margin-top: 0;
}

h5, .h5 {
    font-size: 2.4em;
    margin-top: 0;
}

h6, .h6 {
    font-size: 1.8em;
    margin-top: 0;
}

p {
    font-size: 1.6em;
    margin: 0;
    padding: 0;

    + p {
        margin-top: 1em;
    }
}